body{
/*    background-color: #23222a;*/
    background-image: url("background.png");
    image-rendering: pixelated;
    color: #ffffff;
    font-family: "Press Start 2P";
}

label{
    padding: 0.5rem;
    color:white;
    font-size: 12px;
    margin-left: 2rem
}
.behuzott{
    padding: 0.5rem;
    color:white;
    font-size: 12px;
    margin-left: 4rem;
}
.kuldes{
    background-image: url("ButtonNemBenyomva.png");
    background-repeat: no-repeat;
    background-size: 200px 100px;
    background-position: center;
    image-rendering: crisp-edges;
    border-radius: 10px;
    padding: 0.2rem;
    width: 199px;
    height: 99px;
    margin: 1rem auto;
}
.kuldes:active{
    background-image: url("ButtonBenyomva.png");
}
.urlap{
    background-color: grey;
    border-radius: 10%;
    border: solid black 4px;
}
img{
    width: 100%;
}
#pr_spawn_time_min, #pr_spawn_time_max{
    width: 100px;
    margin-left: 0.2rem;
}
h1{
    font-size: 20px;
}
#alcim{
    text-align: center;
}
h2{
    font-size: 16px;
    padding: 0.2rem;
}
input{
    width: 80px;
    float: right;
    margin: 0.15rem 0rem 0rem 0.15rem;
    border-radius: 0.5rem;
}
li{
    padding: 0.5rem;
}
.credit{
    margin-top: 2rem;
}
.opciok{
    width: 95%;
    margin: auto

    
}
.col-lg-4{
    padding: 10px;
}
#title{
    text-align: center;
}
.ikonok{
    width: 50px;
}
button.preset:focus {
    background-color: #0073d1
}